$primary-color: #2E4756;  // Azul fondo
$primary-color-transparente: rgba(46, 71, 86, 0.6);
$secondary-color: #ECFEAA;  // Amarillo
$accent-color: #00A896;  // Azul botones
$lighter-accent-color: #01ccb6;
$final-color: #7E998A;  // Azul footer
$button-hover-color: #e5ff7c;
$titulo-azul-color: #287DAF;
$input-color: #E1EAC1;
$darker-primary-color: #203947;
$lighter-primary-color: #42667c;
$alerta-color: #ff0000;

body {
  margin: 0px;
  min-height: 90vh;
  width: 100%;
  background-color: $primary-color;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $accent-color $final-color;

  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  padding: 0 7vw;
  background-color: $primary-color;
  position: fixed;
  top: 0;
  max-height: 50%;
  -webkit-box-shadow: 2px 8px 12px 4px $primary-color-transparente;
  -moz-box-shadow: 2px 8px 12px 4px $primary-color-transparente;
  box-shadow: 2px 8px 12px 4px $primary-color-transparente;

}

#contenedor-header {
  height: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#marca {
  margin-right: auto;
  font-family: "FontFarfalla", sans-serif;
  font-size: 42px;
  font-weight: bold;
}

#titulo {
  margin: 0 auto;
  font-size: 28px;
  color: $secondary-color;
  text-decoration: underline;
  margin-bottom: 20px;
}

#botones-seccion {
  margin-left: auto;
  display: flex;
  gap: 20px
}

.boton {
  border: none;
  border-radius: 15px;
  background: none;
  font-size: 16px;
  color: white;
}

#sin-gluten {
  background-color: $secondary-color;
  color: black;
  padding: 5px 10px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  transition: all 0.3s ease-in-out;
}

#sin-gluten:hover {
  background-color: $button-hover-color;
  cursor: pointer;
}

#sin-gluten:active {
  background-color: $accent-color;
}

.boton:hover {
  cursor: pointer;
  transform: scale(1.3)
}

#sin-gluten:hover {
  transform: scale(1)
}

#secciones {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5vw;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  max-width: 100%;
  padding-bottom: 20px;
}

.elemento-seccion {
  flex: 1;
  max-width: 100px;
  min-width: 40px;
  margin-bottom: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elemento-seccion:hover {
  cursor: pointer;
}

.selected {
  background: rgba(236, 254, 170, 0.1);
  border-radius: 15px;
}

.texto-seccion {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
}

.imagen-seccion {
  margin-top: 0;
  width: 100%;
  min-width: 40px;
  max-width: 100px;
}

#contenido {
  padding: 0 10vw 5vw;
  background-color: $primary-color;
  min-height: 100%;
}

.contenido-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit ,minmax(400px, 1fr ));
  gap: 50px;
  justify-content: center;
  align-items: center;

}

.menu {
  max-width: 500px;
  min-height: 200px;
  background: $secondary-color;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto auto auto;
  padding: 10px 20px 10px;
}

.contenido-texto-menu {
  display: flex;
  flex-direction: row;
}

.menu * {
  color: black
}

.titulo-menu {
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
}

.plato-menu, .precio-plato {
  font-size: 16px;
  justify-content: center;
  text-align: center;
}

li {
  list-style: none;
  margin-bottom: 15px;
}

ul {
  padding: 0
}

.hidden {
  display: none;
}

.texto-especial-menu {
  font-size: 18px;
  text-align: center;
  border-radius: 15px;
  background-color: $lighter-accent-color;
  color: white !important;
  padding: 5px 10px;
}

.flipswitch {
  position: relative;
  width: 35px;
}
.flipswitch input[type=checkbox] {
  display: none;
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 50px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 12px;
  padding: 0;
  line-height: 12px;
  font-size: 18px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.flipswitch-inner:before {
  content: "";
  padding-left: 12px;
  background-color: $accent-color;
}
.flipswitch-inner:after {
  content: "";
  padding-right: 12px;
  background: none;
  color: #888888;
  text-align: right;
}
.flipswitch-switch {
  width: 18px;
  margin: -3px;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 21px;
  transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}


.flipswitch-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: $lighter-primary-color;
  border-radius: 50px;
}

.gluten-text {
  font-size: 16px;
}


@media (max-width: 800px){
  #marca {
    display: none;
  }

  #botones-seccion {
    margin-right: 50px;
  }
}

@media (max-width: 460px){
  header {
    padding: 0 2vw;
  }

  #secciones {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  #botones-seccion {
    margin-right: auto;
  }

  .contenido-menu {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  #reservar {
    display: none;
  }

  #titulo {
    display: none;
  }

  .texto-seccion {
    min-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-top: 0px
  }
}
