<!doctype html>
<html lang="es" #html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
</head>
<body>
<!-- carta-pc.component.html -->
<header #header>
  <div id="contenedor-header">
    <h1 id="marca" #marca (click)="goToHome()">Il Piccolino della Farfalla</h1>
    <div id="botones-seccion">
      <div class="flipswitch-container">
        <div class="flipswitch flip">
          <input type="checkbox" name="flipswitch" class="flipswitch-cb" id="fs" #flip (change)="toggleSinGluten()">
          <label class="flipswitch-label flip" for="fs">
            <div class="flipswitch-inner flip"></div>
            <div class="flipswitch-switch flip"></div>
          </label>
        </div>
        <span class="gluten-text flip" (click)="toggleSinGluten()">{{texts_carta.botones[0]}}</span>
      </div>
      <button id="inicio" class="boton" (click)="goToHome()">{{texts_carta.botones[1]}}</button>
      <button class="boton" id="reservar" (click)="goToReservas()">{{texts_carta.botones[2]}}</button>
    </div>
  </div>
  <h2 id="titulo">{{texts_carta.titulo}}</h2>
  <div id="secciones">
    <div class="elemento-seccion" *ngFor="let titulo of texts_carta.titulos; let i = index"
         (click)="changeSection(titulo)" [ngClass]="getClassName(titulo)">
      <img [src]="'../../assets/icons/icono' + (i + 1) + '6.png'" alt="" class="imagen-seccion">
      <p class="texto-seccion">{{titulo}}</p>
    </div>
  </div>
</header>

<<section id="contenido" #contenido>
  <div class="contenido-menu" *ngFor="let section of menuSectionsArray">
    <ng-container *ngIf="!isPyBSection(section.key); else pybTemplate">
      <div *ngFor="let item of section.items"
           class="menu hidden"
           [ngClass]="'menu-' + section.key.toLowerCase()">
        <h2 class="titulo-menu">{{ item.titulo }}</h2>
        <div class="contenido-texto-menu">
          <ul class="lista-platos">
            <li *ngFor="let plato of item.texto; let i = index" class="plato-menu">
              {{ plato }} <br>
              <p class="precio-plato" *ngIf="!isSalsas(item.precio[i])">{{ item.precio[i] }}€</p>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>

    <ng-template #pybTemplate>
      <div *ngFor="let item of section.items"
           class="menu hidden"
           [ngClass]="'menu-pyb'">
        <h2 class="titulo-menu">{{ item.titulo }}</h2>
        <div class="contenido-texto-menu">
          <ul class="lista-platos">
            <li *ngFor="let plato of item.texto; let i = index" class="plato-menu">
              {{ plato }} <br>
              <span class="precio-plato">{{ item.precio[i] }}€</span>
            </li>
          </ul>
        </div>
        <p class="texto-especial-menu" *ngIf="isVinos(item.titulo)">{{ item.especial }}</p>
      </div>
    </ng-template>
  </div>
</section>

</body>

</html>
