<router-outlet></router-outlet>


<div class="popup" id="cambio-idioma" #cambioIdioma>
  <span class="boton-cerrar" (click)="closeLanguageChanger()">x</span>
  <p (click)="changeLanguage('ES')" [class.disabled]="language === 'ES'">ES</p>
  <p (click)="changeLanguage('EN')" [class.disabled]="language === 'EN'">EN</p>
  <p (click)="changeLanguage('DE')" [class.disabled]="language === 'DE'">DE</p>
  <p (click)="changeLanguage('IT')" [class.disabled]="language === 'IT'">IT</p>
  <p (click)="changeLanguage('FR')" [class.disabled]="language === 'FR'">FR</p>
</div>
<header>
  <img src="../assets/icons/logo.png" alt="" id="logo" class="item-header">
  <div id="cont-idioma" class="item-header">
    <p class="item-idioma" id="texto-idioma" #openPopup1 (click)="openLanguageChanger()">{{language}}</p>
    <img src="../assets/icons/idiomas.png" #openPopup2 alt="" id="boton-idioma" class="item-idioma" (click)="openLanguageChanger()">
  </div>
</header>

<footer>
  <p>Tel.: 913684391 <br>
    Calle de las Huertas 6 <br>
    28012, Madrid
  </p>
  <div id="iconos-footer">
    <img src="../assets/icons/facebook.png" alt="" id="icono1-footer" class="icono-footer">
    <img src="../assets/icons/instagram.png" alt="" id="icono2-footer" class="icono-footer">
    <img src="../assets/icons/maps.png" alt="" id="icono3-footer" class="icono-footer">
  </div>
</footer>



