<style media="screen">
  body {
    background: rgba(0,0,0,0.05)
  }

  * {
    margin: 0px 15px;
    font-family: "arial", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
  }
  h1 {
    font-size: 20px;
    line-height: 26px;
    text-align: justify;
    margin: 0px 0px 7px
  }
  p {
    text-align: justify;
    margin-bottom: 5px
  }
</style>
<html lang="es" dir="ltr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Farfalla: Política de Privacidad</title>
</head>
<body>
<h1><strong>POLÍTICA DE PRIVACIDAD</strong></h1>
<p>La presente Política de Privacidad establece los términos en que Llaro S.L. utiliza y protege la información que es proporcionada por sus usuarios al momento de utilizar su sitio web. Llaro S.L. está comprometida con la seguridad de los datos personales de sus usuarios. Cuando le solicitamos llenar campos con información personal, nos aseguramos de que dicha información será utilizada exclusivamente de acuerdo con los términos establecidos en esta Política de Privacidad. Esta política puede ser modificada o actualizada, por lo que recomendamos revisar periódicamente este documento para estar al tanto de cualquier cambio.</p>
<p>De acuerdo con lo establecido en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016 (Reglamento General de Protección de Datos, RGPD) y la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales, Llaro S.L. informa al interesado de que sus datos serán tratados conforme a la normativa vigente en materia de protección de datos personales. A continuación, se detallan los aspectos más importantes del tratamiento de los datos:</p>
<p>El tratamiento de los datos personales se basa en el consentimiento expreso del interesado, conforme al artículo 6.1.a) del RGPD.</p>

<h1><strong>Información Recogida</strong></h1>
<p>En nuestro sitio web recopilamos información personal como su nombre y número de teléfono para fines de contacto. Esta información no será utilizada para fines comerciales o de marketing.</p>

<h1><strong>Finalidad del Tratamiento</strong></h1>
<p>La información personal recopilada será utilizada únicamente para gestionar las reservas realizadas en nuestro sitio web y para comunicarnos con usted en caso de ser necesario, por ejemplo, en caso de que haya algún inconveniente o error con la reserva. Sus datos serán eliminados de nuestra base de datos al día siguiente de la fecha de la reserva.</p>
<p>El acceso a los datos personales estará limitado exclusivamente al personal autorizado de Llaro S.L., quienes tienen la facultad de ver, modificar y/o eliminar los datos.</p>

<h1><strong>Cookies</strong></h1>
<p>Una cookie es un archivo que se envía con la finalidad de solicitar permiso para almacenarse en su dispositivo. Al aceptar dicha solicitud, se crea la cookie, la cual nos permite recopilar información sobre el tráfico web y facilitar futuras visitas a nuestro sitio. Además, las cookies permiten a nuestro sitio web reconocerle individualmente para ofrecerle un servicio más personalizado.</p>
<p>Utilizamos cookies para dos fines: (i) facilitar el autocompletado del formulario en caso de abandonar accidentalmente la pagina principal y (ii) para navegar entre las categorías del menú de nuestro sitio web, como por ejemplo "entrantes".</p>
<p> (i) Guardamos una cookie que almacena temporalmente su nombre, número de teléfono y correo electrónico, únicamente durante un máximo de 30 minutos. Esta información se utiliza para facilitar la interacción con el sitio web durante su sesión. Dichos datos no se procesan para fines comerciales o de marketing, pero se mantienen de manera local en su dispositivo durante ese periodo de tiempo para agilizar futuras interacciones.</p>
<p>Las cookies que utilizamos son funcionales y no contienen información de tráfico web, pero en el caso de esta cookie temporal, contiene datos personales relacionados con su sesión de navegación. Estos datos no se comparten con terceros ni se utilizan fuera del contexto de la sesión activa. Una vez transcurrido el tiempo de 30 minutos o cuando se cierra la sesión, esta cookie se elimina automáticamente de su dispositivo.</p>
<h1><strong>Enlaces a Terceros</strong></h1>
<p>Este sitio web puede contener enlaces a otros sitios de interés. Al hacer clic en estos enlaces y abandonar nuestra página, Llaro S.L. no tiene control sobre el sitio al que es redirigido. Por lo tanto, no nos hacemos responsables de los términos de privacidad ni de la protección de sus datos en esos otros sitios. Estos sitios están sujetos a sus propias políticas de privacidad, por lo que le recomendamos que las consulte antes de proporcionar cualquier tipo de información personal.</p>

<h1><strong>Derechos del Usuario sobre sus Datos Personales</strong></h1>
<p>De acuerdo con el RGPD, usted tiene derecho a acceder, rectificar, suprimir, limitar el tratamiento, oponerse al tratamiento de sus datos personales, así como a la portabilidad de los mismos. Estos derechos pueden ser ejercidos en cualquier momento mediante solicitud por escrito dirigida a Llaro S.L. (contacto abajo indicado).</p>
<p>Además, tiene derecho a presentar una reclamación ante la Agencia Española de Protección de Datos si considera que sus derechos no han sido respetados.</p>
<p>En cualquier momento, puede restringir la recopilación o el uso de la información personal proporcionada a través de nuestro sitio web <a href="https://lafarfalla.es/" target="_blank">lafarfalla.es</a>, poniéndose en contacto con nosotros mediante correo electrónico o teléfono.</p>
<p>Llaro S.L. no venderá, cederá ni distribuirá la información personal que sea recopilada sin su consentimiento explícito, salvo que sea requerido por una autoridad judicial mediante orden judicial.</p>
<p>Nos reservamos el derecho de modificar los términos de esta Política de Privacidad en cualquier momento. Cualquier cambio será publicado en esta página y entrará en vigor en el momento de su publicación.</p>

<h1><strong>Datos del Responsable del Tratamiento</strong></h1>
<p>El responsable del tratamiento de los datos personales conforme al RGPD es:</p>
<p>Llaro S.L.<br>
  Calle Huertas 6, <br>
  28012 Madrid, <br>
  España <br>
  Teléfono: 913 69 43 91 <br>
  Correo electrónico: piccolinofarfalla6&#64;gmail.es <br>
</p>

</body>
</html>
